@import "scss/_variable.scss";
@import "scss/_mixin.scss";
@import "scss/_reset.scss";
@import "scss/_header.scss";
@import "scss/_main.scss";
@import "scss/_footer.scss";

/*---------------------
        common
---------------------*/
::selection {
  background: #0054ff;
  color: #fff;
}

body {
  background-color: #f4f8ff;
}

.row {
  @include widthSize($ws: 1500px);
}

.ttl {
  padding: 0 20px;
  margin-bottom: 40px;

  h2 {
    font-size: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #0054ff;
    margin-bottom: 10px;
  }

  h3 {
    font-size: 30px;
    line-height: 1.3;
  }
}

button {
  @include buttonColor;
  width: 100%;
  cursor: pointer;

  &:hover {
    @include buttonHover;
  }
}

.btn-box {
  .btn {
    @include buttonColor;
    font-weight: 400;

    &:hover {
      @include buttonHover;
    }
  }
}

//
//
//

//
// social btn
//
.social {
  @include flexbox();
  li {
    a {
      svg {
        width: 42px;
        transition: $easefive;
      }
      &:hover {
        svg {
          fill: $mainColor;
        }
      }
    }
  }
}

/*---------------------
        responsive
---------------------*/

@media screen and (min-width: 768px) {
  .tabs {
    justify-content: center;
  }
}

@media screen and (min-width: 1024px) {
  .ttl {
    padding: 0;
  }
  .tabs {
    top: 80px;
    right: 0;
    width: auto;
    overflow-x: hidden;
    background: transparent;
  }

  .tab {
    margin: 0;
  }
}

@media screen and (min-width: 1025px) {
  .list-cont {
    margin: 0;
  }

  .tabs {
    right: 100px;
    transition: all 0.5s ease;
  }
  .tabs.change {
    top: 10px;
  }
}

@media screen and (min-width: 1441px) {
}
