
/*---------------------
        common
---------------------*/
::selection {background:#0054ff;color:#fff;}
::-moz-selection {background:#0054ff;color:#fff;}

.row {
    max-width: 1500px;
    width:100%;
    margin:0 auto;
    text-align: center;
}


.ttl {
    padding:0 20px;
    margin-bottom: 40px;
}
.ttl h2 {
    font-size:14px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color:#0054ff;
    margin-bottom: 10px;
}
.ttl h3 {
    font-size: 30px;
    line-height: 1.3;
}




/*---------------------
        header
---------------------*/
header {
    position: fixed;
    width:100%;
    top:0;
    left:0;
    z-index: 99;
    background:#0054ff;
}





.navbar {
    display:flex;
    flex-wrap:wrap;
    padding:8px 12px;
}

.navbar a {
    color:#fff;
    text-decoration: none;
}
.navbar-menu li a:hover {color:#0054ff;}
.navbar ul {
    list-style: none;
    padding:0;
}

.navbar-logo h1 {
    font-weight: 400;
    font-size:36px;
    text-transform: uppercase;
    transition:all .5s ease;
}

.navbar-logo h2 {display:none;}

.navbar-logo a:hover {
    color:#fff;
}

.navbar-menu li a {
    padding:8px 20px;
    display:block;
    text-transform: uppercase;
}

.navbar-menu li {
    transition:all .5s ease;
}
.navbar-menu li:hover {
    background:#fff;
    border-radius: 4px;
}

.navbar-menu {
    display:none;
    flex-wrap:wrap;
    flex-direction: column;
    width:100%;
    text-align: center;
}
.navbar .bars {
    cursor:pointer;
    display:block;
    position:absolute;
    top:12px;
    right:14px;
    color:#fff;
    font-size:24px;
}
.navbar-menu.active {
    display:flex;
}















/*---------------------
        tab
---------------------*/

.warpper {
    position:relative;
}

.tabs {
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
    display:flex;
    position:fixed;
    top:50px;
    right:0;
    width:100%;
    z-index: 9;
    background:#fff;
}
.tab {
    cursor: pointer;
    text-transform: uppercase;
    padding:10px 20px;
    margin:0px 2px;
    background:#fff;
    color:#000;
    border:1px solid #000;
    text-align: center;
    display:inline-block;
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    flex-direction: column;
    line-height: 16px;
}

.tab span {
    font-size:12px;
    display:block;
    width:100%;
}

.panels {
    height:auto;
    margin-top:150px;
/*
    width:100%;
    overflow:hidden;
*/
/*    margin:150px 100px 100px 0;*/
    
    
}
.panel {
    display:none;
    animation: fadein .8s;
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
.radio {
    display:none;
}
#tab1:checked ~ .panels #one-panel,
#tab2:checked ~ .panels #two-panel,
#tab3:checked ~ .panels #three-panel,
#tab4:checked ~ .panels #four-panel,
#tab5:checked ~ .panels #five-panel,
#tab6:checked ~ .panels #six-panel{
    display:block;
}
#tab1:checked ~ .tabs #one-tab,
#tab2:checked ~ .tabs #two-tab,
#tab3:checked ~ .tabs #three-tab,
#tab4:checked ~ .tabs #four-tab,
#tab5:checked ~ .tabs #five-tab, 
#tab6:checked ~ .tabs #six-tab {
    background:#0054ff;
    color:#fff;
}









/*---------------------
        panel
---------------------*/
.panels .list-cont {
}
.list-cont {
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
    margin:20px;
}

/*.list-cont img {width:100%;}*/

/*.panels {height:1800px;}*/


/* list-cont */
.list-cont .list-layer {
    margin-bottom:50px;
/*  position: absolute;*/
}



.list-cont .list-cont-content {
    z-index: 100;
    color: white;
    background-color: transparent;
}






/*figure box*/

.panels figure {
    position: relative;
    
}
.panels figure .bgimg {
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    transform:scale(1);
    transition: transform .5s;
    z-index: 0;
    display: block;
}
.panels figure:before {
    content:'';
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,.5);
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    z-index: 1;
}

.panels figcaption {
    position: absolute;
    top:2rem;
    left:0;
    right:0;
    bottom:0;
    text-align: center;
    z-index: 2;
}

.panels figcaption .textbox {
    color:#fff;
    margin:8% 0;
    text-align: left;
    padding-left:10%;
}
.panels figcaption .textbox li {
    font-weight: 400;
    display:block;
    font-size:18px;
    margin-bottom: 20px;
}
.panels figcaption .textbox h2 {
    font-weight: bold;
    margin-bottom: 10px;
    font-size:20px;
}



.panels .number {
    position: absolute;
    bottom:-30px;
    left:-6px;
    color:#fff;
    font-weight: bold;
    font-size:120px;
}


.panels .list-cont .list-layer .btn {
    position: absolute;
    bottom:7%;
    right:7%;
    background:#fff;
    border-radius: 30px;
    font-size:16px;
    padding:1rem 2rem;
}

.panels .list-cont .list-layer .ttl {
    text-align: center;
    line-height: 1.5em;
    font-size:20px;
    margin-top:10px;
    font-weight: bold;
}
.panels .list-cont .list-layer .ttl span {
    display:block;
    font-size:16px;
    font-weight: 400;
}






/*---------------------
        detail page---light box
---------------------*/

.light-box .gallery {
    column-width:120px;
    column-gap: 10px;
    padding:20px;
}
.light-box .gallery li {
    display:inline-block;
    margin:0;
    margin-bottom: 20px;
    vertical-align: top;
}
.light-box .gallery li img {
    border-radius: 20px;
    border:1px solid #ccc;
}









/*---------------------
        footer
---------------------*/
footer {
    background:#0054ff;
    color:#fff;
    padding:20px;
    letter-spacing: 1px;
    text-align: center;
    line-height: 24px;
}
footer h2 {
    margin-bottom: 20px;
}
footer ul {
    text-align: left;
    border-top:1px solid #ddd;
    border-bottom:1px solid #ddd;
    padding:20px 0;
    margin-bottom: 20px;
    font-size:14px;
}
footer ul .alert {
    font-size:12px;
    display: block;
}

footer small {
    font-size:11px;
}





.scrolltop {
    display: none;
    position: fixed;
    right: 30px;
    bottom: 50px;
    z-index: 1030;
    background:#0054ff;
    color: #fff;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}
.scrolltop .material-icons {
    display: block;
    text-align: center;
    margin-top: 10px;
    transition: all .5s ease;
}
.scrolltop:hover,
.scrolltop:focus {
    background: #000;
    color: #fff;
}
.scrolltop:hover .material-icons {
    margin-top:5px;
    transition: all .5s ease;
}








/*---------------------
        responsive
---------------------*/


@media screen and (min-width:768px) {
    .tabs {justify-content: center;}
    
    .panels .list-cont .list-layer {
        width:48%;
    }
    
/*
    .light-box .gallery li {
        width:33.3%
    }
*/
    
    
    .light-box .gallery {
        column-width:300px;
    }
    
}
@media screen and (min-width:769px) {
    header {
        height:100%;
        width:390px;
        border-right:1px solid #ccc;
    }
    
    header .navbar {
        padding:150px 20px 200px 100px;
        justify-content: space-between;
        height:100%;
    }
    
    .navbar-logo h1 {
        font-size:20px;
        margin-bottom: 30px;
    }
    .navbar-logo h2 {
        display:block;
        font-size:36px;
        line-height: 50px;
        font-weight: bold;
        color:#fff;
    }
    
    .navbar .bars {
        display:none;
    }
    .navbar-menu {
        display:flex;
        justify-content:space-between;
        flex-direction: column;
        margin-top:200px;
    }
    
    .navbar-menu li a {
        font-size:20px;
    }
    
    
    
    #right {
        margin-left:510px;
    }
    

    
    
    
    footer {
        width:390px;
        position: fixed;
        bottom:0;
        left:0;
        z-index: 99;
        padding:0 20px;
        text-align: left;
    }
    footer ul {
        border:0;
        padding:0;
    }
    footer h2 {display: none;}
    
    
    
    
}



@media screen and (min-width:1024px) {
    .ttl {padding:0;}
    .tabs {
        top:80px;
        right:0;
        width:auto;
        overflow-x: hidden;
        background:transparent;
    }
    
    .tab {margin:0}
    
    .panels .list-cont .list-layer {
        width:100%;
    }
    
    .panels figure {overflow: hidden;}
    .panels figcaption .textbox h2 {font-size:24px;}
    .panels figcaption .textbox li {font-size:20px;}
    
    
    .panels .list-cont .list-layer .btn {
        opacity:0;
        transition: all .5s ease;
    }
    .panels .list-cont .list-layer:hover .btn {opacity:1;}
    
    .panels .list-cont .list-layer:hover .bgimg {
/*        transition: all .5s ease;*/
        transform:scale(1.1);
        transition: transform .5s;
    }
    .panels .list-cont .list-layer figure:before {
        transition: all .5s ease;
    }
    .panels .list-cont .list-layer:hover figure:before {
        border-top-left-radius: 0;
        border-bottom-right-radius: 0;
    }
    
    .light-box .gallery {
        column-width:200px;
        padding:0 20px 0 0;
    }
    
    
}

@media screen and (min-width:1025px) {
    .list-cont {margin:0}
    .panels {
        margin:150px 100px 100px 0;
    }
    .tabs {
        right:100px;
        transition: all .5s ease;
    }
    .tabs.change {top:10px;}
    
    .panels .list-cont .list-layer {
        width:48%;
    }
    
}

@media screen and (min-width:1441px) {
    .panels .list-cont .list-layer {
        width:32%;
    }
    
    .light-box .gallery {
        padding:0;
        column-width:400px;
    }
}









