/*font*/
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;300;400;500;700&display=swap");
/*@import url('https://fonts.googleapis.com/css2?family=Hahmlet:wght@100;200;300;400;600;700;800&display=swap');*/
@import url("https://fonts.googleapis.com/css2?family=Hahmlet:wght@100;200;300;400;600;700;800&family=Noto+Sans+KR:wght@100;300;400;500;700&display=swap");
html, body {
  font-size: 100%;
  font: 18px/30px 'Noto Sans KR', sans-serif;
  /*    scroll-behavior: smooth;*/
}

.josefin {
  font-family: 'Josefin Sans', 'sans-serif';
  font-weight: bold;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article,
aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu,
nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu,
nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input:focus {
  outline: none;
}

em {
  font-style: normal;
}

b,
strong {
  font-weight: bold;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

a, a:hover {
  color: inherit;
  text-decoration: none;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  outline: 0;
}

/*---------------------
        header
---------------------*/
header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 99;
  background: #0054ff;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 8px 12px;
}

.navbar a {
  color: #fff;
  text-decoration: none;
}

.navbar-menu li a:hover {
  color: #0054ff;
}

.navbar ul {
  list-style: none;
  padding: 0;
}

.navbar-logo h1 {
  font-weight: 400;
  font-size: 36px;
  text-transform: uppercase;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.navbar-logo h2 {
  display: none;
}

.navbar-logo a:hover {
  color: #fff;
}

.navbar-menu li a {
  padding: 8px 20px;
  display: block;
  text-transform: uppercase;
}

.navbar-menu li {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.navbar-menu li:hover {
  background: #fff;
  border-radius: 4px;
}

.navbar-menu {
  display: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  text-align: center;
}

.navbar .bars {
  cursor: pointer;
  display: block;
  position: absolute;
  top: 12px;
  right: 14px;
  color: #fff;
  font-size: 24px;
}

.navbar-menu.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (min-width: 769px) {
  header {
    width: 100%;
    border-right: 1px solid #ccc;
  }
  header .navbar {
    padding: 150px 20px 200px 100px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 100%;
  }
  .navbar-logo h1 {
    font-size: 20px;
    margin-bottom: 30px;
  }
  .navbar-logo h2 {
    display: block;
    font-size: 36px;
    line-height: 50px;
    font-weight: bold;
    color: #fff;
  }
  .navbar .bars {
    display: none;
  }
  .navbar-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 200px;
  }
  .navbar-menu li a {
    font-size: 20px;
  }
}

/*---------------------
        tab
---------------------*/
.warpper {
  position: relative;
}

.tabs {
  white-space: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  top: 50px;
  right: 0;
  width: 100%;
  z-index: 9;
  background: #fff;
}

.tab {
  cursor: pointer;
  text-transform: uppercase;
  padding: 10px 20px;
  margin: 0px 2px;
  background: #fff;
  color: #000;
  border: 1px solid #000;
  text-align: center;
  display: inline-block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  line-height: 16px;
}

.tab span {
  font-size: 12px;
  display: block;
  width: 100%;
}

.panels {
  height: auto;
  margin-top: 150px;
}

.panel {
  display: none;
  -webkit-animation: fadein 0.8s;
          animation: fadein 0.8s;
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.radio {
  display: none;
}

#tab1:checked ~ .panels #one-panel,
#tab2:checked ~ .panels #two-panel,
#tab3:checked ~ .panels #three-panel,
#tab4:checked ~ .panels #four-panel,
#tab5:checked ~ .panels #five-panel,
#tab6:checked ~ .panels #six-panel {
  display: block;
}

#tab1:checked ~ .tabs #one-tab,
#tab2:checked ~ .tabs #two-tab,
#tab3:checked ~ .tabs #three-tab,
#tab4:checked ~ .tabs #four-tab,
#tab5:checked ~ .tabs #five-tab,
#tab6:checked ~ .tabs #six-tab {
  background: #0054ff;
  color: #fff;
}

/*---------------------
        panel
---------------------*/
.list-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 20px;
}

/*.list-cont img {width:100%;}*/
/*.panels {height:1800px;}*/
/* list-cont */
.list-cont .list-layer {
  margin-bottom: 50px;
  /*  position: absolute;*/
}

.list-cont .list-cont-content {
  z-index: 100;
  color: white;
  background-color: transparent;
}

/*figure box*/
.panels figure {
  position: relative;
}

.panels figure .bgimg {
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  z-index: 0;
  display: block;
}

.panels figure:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
  z-index: 1;
}

.panels figcaption {
  position: absolute;
  top: 2rem;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  z-index: 2;
}

.panels figcaption .textbox {
  color: #fff;
  margin: 8% 0;
  text-align: left;
  padding-left: 10%;
}

.panels figcaption .textbox li {
  font-weight: 400;
  display: block;
  font-size: 18px;
  margin-bottom: 20px;
}

.panels figcaption .textbox h2 {
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 20px;
}

.panels .number {
  position: absolute;
  bottom: -30px;
  left: -6px;
  color: #fff;
  font-weight: bold;
  font-size: 120px;
}

.panels .list-cont .list-layer .btn {
  position: absolute;
  bottom: 7%;
  right: 7%;
  background: #fff;
  border-radius: 30px;
  font-size: 16px;
  padding: 1rem 2rem;
}

.panels .list-cont .list-layer .ttl {
  text-align: center;
  line-height: 1.5em;
  font-size: 20px;
  margin-top: 10px;
  font-weight: bold;
}

.panels .list-cont .list-layer .ttl span {
  display: block;
  font-size: 16px;
  font-weight: 400;
}

/*---------------------
        detail page---light box
---------------------*/
.light-box .gallery {
  -webkit-column-width: 120px;
          column-width: 120px;
  -webkit-column-gap: 10px;
          column-gap: 10px;
  padding: 20px;
}

.light-box .gallery li {
  display: inline-block;
  margin: 0;
  margin-bottom: 20px;
  vertical-align: top;
}

.light-box .gallery li img {
  border-radius: 20px;
  border: 1px solid #ccc;
}

/*---------------------
        footer
---------------------*/
footer {
  border: 1px solid red;
}

footer form {
  text-align: center;
  padding: 2rem;
}

footer form legend {
  font-size: 2em;
  margin-bottom: 2rem;
}

footer form p.josefin {
  font-weight: 400;
  line-height: 1.4rem;
}

footer form fieldset {
  text-align: left;
  margin: 2rem 0;
}

footer form fieldset .input-box:not(:last-child) {
  margin-bottom: 12px;
}

footer form fieldset .input-box label {
  display: block;
  margin-bottom: 6px;
}

footer form fieldset .input-box input,
footer form fieldset .input-box select,
footer form fieldset .input-box textarea {
  width: 100%;
  border: 1px solid #121212;
  border-radius: 5px;
  font-size: 1em;
  padding: 5px;
}

footer form fieldset .input-box input:focus,
footer form fieldset .input-box select:focus,
footer form fieldset .input-box textarea:focus {
  outline: 2px solid #0054ff;
  border: 1px solid transparent;
}

footer form fieldset .input-box textarea {
  resize: none;
  height: 20vh;
}

footer small {
  display: block;
  font-size: 0.7rem;
  background: #0054ff;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.scrolltop {
  display: none;
  position: fixed;
  right: 30px;
  bottom: 50px;
  z-index: 1030;
  background: #0054ff;
  color: #fff;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.scrolltop:hover, .scrolltop:focus {
  background: #000;
  color: #fff;
}

.scrolltop:hover .material-icons {
  margin-top: 5px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.scrolltop .material-icons {
  display: block;
  text-align: center;
  margin-top: 10px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

@media screen and (min-width: 769px) {
  footer form {
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }
}

/*---------------------
        common
---------------------*/
::-moz-selection {
  background: #0054ff;
  color: #fff;
}
::selection {
  background: #0054ff;
  color: #fff;
}

.row {
  max-width: 1500px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.ttl {
  padding: 0 20px;
  margin-bottom: 40px;
}

.ttl h2 {
  font-size: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #0054ff;
  margin-bottom: 10px;
}

.ttl h3 {
  font-size: 30px;
  line-height: 1.3;
}

button {
  width: 100%;
  background-color: #0054ff;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  border: 1px solid #0054ff;
  padding: 8px 10px 8px;
  font-size: 1em;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  cursor: pointer;
}

button:hover {
  background-color: #fff;
  color: #0054ff;
}

/*---------------------
        responsive
---------------------*/
@media screen and (min-width: 768px) {
  .tabs {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .panels .list-cont .list-layer {
    width: 48%;
  }
  /*
    .light-box .gallery li {
        width:33.3%
    }
*/
  .light-box .gallery {
    -webkit-column-width: 300px;
            column-width: 300px;
  }
}

@media screen and (min-width: 769px) {
  #right {
    margin-left: 510px;
  }
}

@media screen and (min-width: 1024px) {
  .ttl {
    padding: 0;
  }
  .tabs {
    top: 80px;
    right: 0;
    width: auto;
    overflow-x: hidden;
    background: transparent;
  }
  .tab {
    margin: 0;
  }
  .panels .list-cont .list-layer {
    width: 100%;
  }
  .panels figure {
    overflow: hidden;
  }
  .panels figcaption .textbox h2 {
    font-size: 24px;
  }
  .panels figcaption .textbox li {
    font-size: 20px;
  }
  .panels .list-cont .list-layer .btn {
    opacity: 0;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  .panels .list-cont .list-layer:hover .btn {
    opacity: 1;
  }
  .panels .list-cont .list-layer:hover .bgimg {
    /*        transition: all .5s ease;*/
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    -webkit-transition: -webkit-transform 0.5s;
    transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s;
  }
  .panels .list-cont .list-layer figure:before {
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  .panels .list-cont .list-layer:hover figure:before {
    border-top-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  .light-box .gallery {
    -webkit-column-width: 200px;
            column-width: 200px;
    padding: 0 20px 0 0;
  }
}

@media screen and (min-width: 1025px) {
  .list-cont {
    margin: 0;
  }
  .panels {
    margin: 150px 100px 100px 0;
  }
  .tabs {
    right: 100px;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  .tabs.change {
    top: 10px;
  }
  .panels .list-cont .list-layer {
    width: 48%;
  }
}

@media screen and (min-width: 1441px) {
  .panels .list-cont .list-layer {
    width: 32%;
  }
  .light-box .gallery {
    padding: 0;
    -webkit-column-width: 400px;
            column-width: 400px;
  }
}
