main {
  margin-top: 5em;
}

//
// main visual
//
#main {
  border: 1px solid red;
  @include widthSize($ws: 90%);

  .visual-wrap {
    .visual-wrap__text {
      h2 {
        font-size: 2em;
        line-height: 1.4em;

        span {
          display: block;
        }
      }
      p {
        padding: 1.4rem 0 2rem;
        text-align: left;
      }

      .btn-box {
        a:last-child {
          margin-top: 5px;
          background-color: $white;
          color: $mainColor;
          border: 1px solid $mainColor;

          &:hover {
            background-color: $mainColor;
            color: $white;
          }
        }
      }
    }

    .visual-wrap__box {
      margin-top: 2rem;

      .visual-wrap__box-img {
        overflow: hidden;
        border-radius: 2rem;

        li {
          img {
            width: 100%;
            height: 50vh;
            object-fit: cover;
          }
        }
      }

      svg {
        display: none;
      }
    }
  }
}

/*---------------------
        panel
---------------------*/

.list-cont {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px;
}

/* list-cont */
.list-cont .list-layer {
  margin-bottom: 50px;
  /*  position: absolute;*/
}

.list-cont .list-cont-content {
  z-index: 100;
  color: white;
  background-color: transparent;
}

/*figure box*/

.panels figure {
  position: relative;
}
.panels figure .bgimg {
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
  transform: scale(1);
  transition: transform 0.5s;
  z-index: 0;
  display: block;
}
.panels figure:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
  z-index: 1;
}

.panels figcaption {
  position: absolute;
  top: 2rem;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  z-index: 2;
}

.panels figcaption .textbox {
  color: #fff;
  margin: 8% 0;
  text-align: left;
  padding-left: 10%;
}
.panels figcaption .textbox li {
  font-weight: 400;
  display: block;
  font-size: 18px;
  margin-bottom: 20px;
}
.panels figcaption .textbox h2 {
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 20px;
}

.panels .number {
  position: absolute;
  bottom: -30px;
  left: -6px;
  color: #fff;
  font-weight: bold;
  font-size: 120px;
}

.panels .list-cont .list-layer .btn {
  position: absolute;
  bottom: 7%;
  right: 7%;
  background: #fff;
  border-radius: 30px;
  font-size: 16px;
  padding: 1rem 2rem;
}

.panels .list-cont .list-layer .ttl {
  text-align: center;
  line-height: 1.5em;
  font-size: 20px;
  margin-top: 10px;
  font-weight: bold;
}
.panels .list-cont .list-layer .ttl span {
  display: block;
  font-size: 16px;
  font-weight: 400;
}

/*---------------------
        detail page---light box
---------------------*/

.light-box .gallery {
  column-width: 120px;
  column-gap: 10px;
  padding: 20px;
}
.light-box .gallery li {
  display: inline-block;
  margin: 0;
  margin-bottom: 20px;
  vertical-align: top;
}
.light-box .gallery li img {
  border-radius: 20px;
  border: 1px solid #ccc;
}

//
// responsive
//
@media screen and (min-width: 769px) {
  #main {
    .visual-wrap {
      @include flexbox($flexJC: space-between);

      .visual-wrap__text {
        width: 100%;

        h2 {
          text-align: left;
          font-size: 3em;
        }
        p {
          padding-right: 2rem;
        }

        .btn-box {
          @include flexbox($flexJC: flex-start);

          a {
            width: 30%;

            &:last-child {
              margin-top: 0;
              margin-left: 5px;
            }
          }
        }
      }

      .visual-wrap__box {
        width: 100%;
        margin-top: 0;
      }
    }
  }
}

@media screen and (min-width: 1300px) {
  #main {
    .visual-wrap {
      padding: 5rem;

      .visual-wrap__text {
        width: 100%;

        h2 {
          text-align: left;
          font-size: 3em;
        }
        p {
          padding-right: 2rem;
        }

        .btn-box {
          @include flexbox($flexJC: flex-start);

          a {
            width: 30%;

            &:last-child {
              margin-top: 0;
              margin-left: 5px;
            }
          }
        }
      }

      .visual-wrap__box {
        position: relative;

        .visual-wrap__box-block {
          position: absolute;
          width: 120px;
          height: 120px;
          // border: 1px solid red;
          // background-color: #ccc;
          border-radius: 14px;

          &:nth-child(1) {
            top: -5rem;
            left: 0;
            background-image: linear-gradient(
              to right top,
              #d16ba5,
              #c777b9,
              #ba83ca,
              #aa8fd8,
              #9a9ae1,
              #8aa7ec,
              #79b3f4,
              #69bff8,
              #52cffe,
              #41dfff,
              #46eefa,
              #5ffbf1
            );
            transform: translate3d(0, 0, 0);
            animation: boxAni 3s linear infinite alternate;
          }
          &:nth-child(2) {
            top: -2rem;
            right: 0;
            background-image: linear-gradient(
              to left bottom,
              #0054ff,
              #1e66fe,
              #3877fb,
              #5086f7,
              #6795f1,
              #5ca3f6,
              #58b1f8,
              #5cbdf9,
              #28cdfe,
              #00dbfc,
              #00e8f2,
              #19f4e1
            );
            transform: translate3d(0, 10px, 0);
            animation: boxAni2 3s linear infinite alternate;
          }
          &:nth-child(3) {
            bottom: -3rem;
            left: 0;
            background-image: linear-gradient(
              to left bottom,
              #0054ff,
              #2f54fa,
              #4254f5,
              #5054f0,
              #5b54eb,
              #6055ea,
              #6557ea,
              #6958e9,
              #6a5aec,
              #6b5cef,
              #6c5ef3,
              #6d60f6
            );
            transform: translate3d(0, 10px, 0);
            animation: boxAni3 3s linear infinite alternate;
          }
          &:nth-child(4) {
            bottom: -5rem;
            right: 0;
            background-image: linear-gradient(
              to left bottom,
              #711168,
              #771780,
              #78229a,
              #722fb7,
              #613ed5,
              #5446e1,
              #404eed,
              #1856f9,
              #2258f5,
              #2a59f0,
              #305bec,
              #365ce7
            );
            transform: translate3d(0, 0, 0);
            animation: boxAni4 3s linear infinite alternate;
          }
        }

        .visual-wrap__box-img {
          @include widthSize($ws: 500px);
        }
      }
    }
  }
}

@keyframes boxAni {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(0, 20px, 0);
  }
}
@keyframes boxAni2 {
  0% {
    transform: translate3d(0, 10px, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes boxAni3 {
  0% {
    transform: translate3d(0, 10px, 0);
  }
  100% {
    transform: translate3d(0, -40px, 0);
  }
}
@keyframes boxAni4 {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(0, 20px, 0);
  }
}
