/*---------------------
        footer
---------------------*/
footer {
  text-align: center;
  padding-top: 5rem;

  form {
    padding: 2rem;

    legend {
      font-size: 2em;
      margin-bottom: 2rem;
      @include josefin;
    }
    p.josefin {
      font-weight: 400;
      line-height: 1.4rem;
    }
    fieldset {
      text-align: left;
      margin: 2rem 0;

      .input-box {
        &:not(:last-child) {
          margin-bottom: 12px;
        }

        label {
          display: block;
          margin-bottom: 6px;
          @include josefin;
        }
        input,
        select,
        textarea {
          width: 100%;
          border: 1px solid $black;
          border-radius: 5px;
          font-size: 1em;
          padding: 5px;

          &:focus {
            outline: 2px solid $mainColor;
            border: 1px solid transparent;
          }
        }

        textarea {
          resize: none;
          height: 20vh;
        }
      }
    }
  }

  small {
    display: block;
    font-size: 0.7rem;
    background: $mainColor;
    color: $white;
    padding: 20px;
  }
}

//
// floating
//

.floating-nav {
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 3;

  ul {
    li {
      &:not(:last-child) {
        margin-bottom: 8px;
      }

      a {
        @include flexbox;
        position: relative;
        width: 50px;
        height: 50px;
        color: $white;
        border-radius: 50%;

        &:hover .tooltip {
          opacity: 1;
          visibility: visible;
        }

        .tooltip {
          @include josefin;
          background-color: $black;
          padding: 6px 8px 4px;
          border-radius: 4px;
          position: absolute;
          bottom: 30%;
          right: 120%;
          transition: $easefive;
          text-align: center;
          text-transform: uppercase;
          font-weight: 600;
          font-size: 0.8rem;
          letter-spacing: 4px;
          opacity: 0;
          visibility: hidden;

          &::after {
            content: "";
            position: absolute;
            border-style: solid;
            border-width: 5px;
            top: 50%;
            left: 100%;
            margin-top: -5px;
            border-color: transparent transparent transparent $black;
          }
        }

        &.floating-nav__lang {
          background-color: $black;
        }

        &.floating-nav__top {
          background-color: $mainColor;
          display: none;

          &:hover,
          &:focus {
            background: $black;
          }
        }
      }
    }
  }
}

//
//
//
@media screen and (min-width: 769px) {
  footer {
    form {
      @include widthSize($ws: 900px);
    }
  }
}
